<h1 align="center"> Iniciar Sesion</h1>

<form action="/api/sessions/login" method="post">
Email: <input type="text" name="email"> <br>
Password: <input type="password" name="password"> <br><br>
<input type="submit" value="Iniciar Sesion"> | <a href="/register">Register</a>

</form>