<br>
<br>
<br>

<div class="container mt-5 text-center">
    <h2>Crear nueva contraseña</h2>
</div>

<div class="container mt-5">
    <h1 class="text-center">Iniciar Sesión</h1>

    <form action="/api/session/reset-password/{{user}}" method="post">
        Nueva contraseña: <input type="text" name="newPassword"> <input type="submit" value="Cambiar contraseña">
</div>

<br>
<br>

<div class="form-group">
    <input type="submit" value="Iniciar Sesión" class="btn btn-primary">
    <span class="ml-2">|</span>
    <a href="/" class="btn btn-primary">Restablecer Contraseña</a>

</div>



<script>
    function togglePassword() {
        const passwordInput = document.getElementById('password');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }
</script>

<style>
    body {
        background-image: url('https://i.ibb.co/hMWTddk/dise-ado-fondo-de-tira-de-pel-cula-vac-o.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .toggle-password {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>