<br>
<br>
<br>
<br>
<br>
<div class="container">
  <h2 class="text-center mb-4">Crear o Actualizar Productos</h2>

  <hr />

  <div class="card mb-5 col-md-6 offset-md-3">
    <div class="card-header bg-primary text-center text-white">
      <h5>Add Movies</h5>
    </div>
    <div class="card-body">
      <form id="form">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="title"
            id="title"
            placeholder="Title"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="description"
            id="description"
            placeholder="Description"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            name="price"
            id="price"
            step="0.01"
            placeholder="Price"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="code"
            id="code"
            placeholder="Code"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="category"
            id="category"
            placeholder="Category"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="number"
            class="form-control"
            name="stock"
            id="stock"
            placeholder="Stock"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="image"
            id="thumbnail"
            placeholder="Imagen"
            required
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            name="status"
            id="status"
            placeholder="True/False"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-success form-control fw-bold"
          id="createProduct"
        >Add Movie</button>
      </form>
    </div>
  
  
<style>
        body {
            background-image: url('https://i.ibb.co/hMWTddk/dise-ado-fondo-de-tira-de-pel-cula-vac-o.jpg'); 
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
  

  <script>

document.getElementById('createProduct').addEventListener('click', () =>{
    const product = {       
        title: document.getElementById("title").value,
        description: document.getElementById("description").value,
        price: document.getElementById("price").value,
        code: document.getElementById("code").value,
        category: document.getElementById("category").value,
        stock: document.getElementById("stock").value,
        thumbnail: document.getElementById("thumbnail").value,
        status: document.getElementById("status").value 
        }

     fetch("/api/products", {
        method: "post",
        body: JSON.stringify(product),
        headers: {
            "Content-Type": "application/json",
        }
    })
    .then (result => result.json())
    .then (result => {
        if (result.status === 'error') throw new Error(result.error)
    })  
    .then (() => fetch('/api/products'))
    .then (result => result.json())
    .then ( result => {
        if ( result.status === 'error')throw new Error(result.error)
        alert(`Nuevo producto agregado`)
        window.location.href = '/products'
    })
    .catch(error => {
        console.log (`Error en la subida de producto`)
    } )
})

  </script>
